In [2]:
import pandas as pd

In [3]:
covid=pd.read_csv("Datos interesantes/Casos_positivos_de_COVID-19_en_Colombia._20250112.csv", sep=";")

C:\Users\aleja\AppData\Local\Temp\ipykernel_15292\926067445.py:1: DtypeWarning: Columns (13,14) have mixed types. Specify dtype option on import or set low_memory=False.
  covid=pd.read_csv("Datos interesantes/Casos_positivos_de_COVID-19_en_Colombia._20250112.csv", sep=";")

In [4]:
covid.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6390971 entries, 0 to 6390970
Data columns (total 23 columns):
 #   Column                        Dtype
---  ------                        -----
 0   fecha reporte web             object
 1   ID de caso                    object
 2   Fecha de notificación         object
 3   Código DIVIPOLA departamento  object
 4   Nombre departamento           object
 5   Código DIVIPOLA municipio     object
 6   Nombre municipio              object
 7   Edad                          int64
 8   Unidad de medida de edad      int64
 9   Sexo                          object
 10  Tipo de contagio              object
 11  Ubicación del caso            object
 12  Estado                        object
 13  Código ISO del país           object
 14  Nombre del país               object
 15  Recuperado                    object
 16  Fecha de inicio de síntomas   object
 17  Fecha de muerte               object
 18  Fecha de diagnóstico          object
 19  Fecha de recuperación         object
 20  Tipo de recuperación          object
 21  Pertenencia étnica            float64
 22  Nombre del grupo étnico       object
dtypes: float64(1), int64(2), object(20)
memory usage: 1.1+ GB

In [5]:
covid.value_counts("Tipo de recuperación")

Tipo de recuperación
Tiempo    5274348
PCR        933773
TIEMPO        452
Name: count, dtype: int64

In [6]:
covid.head()

,fecha reporte web,ID de caso,Fecha de notificación,Código DIVIPOLA departamento,Nombre departamento,Código DIVIPOLA municipio,Nombre municipio,Edad,Unidad de medida de edad,Sexo,...,Código ISO del país,Nombre del país,Recuperado,Fecha de inicio de síntomas,Fecha de muerte,Fecha de diagnóstico,Fecha de recuperación,Tipo de recuperación,Pertenencia étnica,Nombre del grupo étnico
0,2020-12-24 00:00:00,"1,556,979",2020-12-22 00:00:00,76,VALLE,"76,001",CALI,67,1,F,...,NaN,NaN,Recuperado,2020-12-21 00:00:00,NaN,2020-12-23 00:00:00,2021-01-04 00:00:00,Tiempo,6.0,NaN
1,2020-12-24 00:00:00,"1,556,980",2020-12-19 00:00:00,76,VALLE,"76,001",CALI,66,1,F,...,NaN,NaN,Recuperado,2020-12-07 00:00:00,NaN,2020-12-23 00:00:00,2020-12-25 00:00:00,Tiempo,6.0,NaN
2,2020-12-24 00:00:00,"1,556,981",2020-12-19 00:00:00,76,VALLE,"76,001",CALI,68,1,F,...,NaN,NaN,Recuperado,2020-12-18 00:00:00,NaN,2020-12-22 00:00:00,2021-01-01 00:00:00,Tiempo,6.0,NaN
3,2020-12-24 00:00:00,"1,556,982",2020-12-22 00:00:00,76,VALLE,"76,001",CALI,74,1,F,...,NaN,NaN,Fallecido,2020-12-17 00:00:00,2020-12-30 00:00:00,2020-12-23 00:00:00,NaN,NaN,6.0,NaN
4,2020-12-24 00:00:00,"1,556,983",2020-12-22 00:00:00,76,VALLE,"76,001",CALI,65,1,F,...,NaN,NaN,Recuperado,2020-12-21 00:00:00,NaN,2020-12-23 00:00:00,2021-01-04 00:00:00,Tiempo,6.0,NaN

In [7]:
covid = covid.drop(columns=["Código DIVIPOLA departamento","Código DIVIPOLA municipio","Código ISO del país","Nombre del país"])

In [8]:
covid.head()

,fecha reporte web,ID de caso,Fecha de notificación,Nombre departamento,Nombre municipio,Edad,Unidad de medida de edad,Sexo,Tipo de contagio,Ubicación del caso,Estado,Recuperado,Fecha de inicio de síntomas,Fecha de muerte,Fecha de diagnóstico,Fecha de recuperación,Tipo de recuperación,Pertenencia étnica,Nombre del grupo étnico
0,2020-12-24 00:00:00,"1,556,979",2020-12-22 00:00:00,VALLE,CALI,67,1,F,Comunitaria,Casa,Leve,Recuperado,2020-12-21 00:00:00,NaN,2020-12-23 00:00:00,2021-01-04 00:00:00,Tiempo,6.0,NaN
1,2020-12-24 00:00:00,"1,556,980",2020-12-19 00:00:00,VALLE,CALI,66,1,F,Comunitaria,Casa,Leve,Recuperado,2020-12-07 00:00:00,NaN,2020-12-23 00:00:00,2020-12-25 00:00:00,Tiempo,6.0,NaN
2,2020-12-24 00:00:00,"1,556,981",2020-12-19 00:00:00,VALLE,CALI,68,1,F,Comunitaria,Casa,Leve,Recuperado,2020-12-18 00:00:00,NaN,2020-12-22 00:00:00,2021-01-01 00:00:00,Tiempo,6.0,NaN
3,2020-12-24 00:00:00,"1,556,982",2020-12-22 00:00:00,VALLE,CALI,74,1,F,Comunitaria,Fallecido,Fallecido,Fallecido,2020-12-17 00:00:00,2020-12-30 00:00:00,2020-12-23 00:00:00,NaN,NaN,6.0,NaN
4,2020-12-24 00:00:00,"1,556,983",2020-12-22 00:00:00,VALLE,CALI,65,1,F,Comunitaria,Casa,Leve,Recuperado,2020-12-21 00:00:00,NaN,2020-12-23 00:00:00,2021-01-04 00:00:00,Tiempo,6.0,NaN

In [9]:
duplicados = covid.duplicated()
covid = covid.drop_duplicates()
covid.isna().sum()

fecha reporte web                    0
ID de caso                           0
Fecha de notificación                0
Nombre departamento                  0
Nombre municipio                     0
Edad                                 0
Unidad de medida de edad             0
Sexo                                 0
Tipo de contagio                     0
Ubicación del caso               41268
Estado                           41268
Recuperado                       36327
Fecha de inicio de síntomas     505384
Fecha de muerte                6206578
Fecha de diagnóstico              2755
Fecha de recuperación           182324
Tipo de recuperación            182398
Pertenencia étnica                2156
Nombre del grupo étnico        6307107
dtype: int64

In [10]:
covid['Fecha de inicio de síntomas'] = pd.to_datetime(covid['Fecha de inicio de síntomas'], errors='coerce')
covid['Fecha de diagnóstico'] = pd.to_datetime(covid['Fecha de diagnóstico'], errors='coerce')
covid['Fecha de muerte'] = pd.to_datetime(covid['Fecha de muerte'], errors='coerce')
covid['Fecha de recuperación'] = pd.to_datetime(covid['Fecha de recuperación'], errors='coerce')

In [11]:
covid['sobrevivio'] = covid['Fecha de muerte'].isna().astype(int)